<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8V9TJIXeEo6XK-eZ8jZ1gNfzdSjTNZhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>100428051356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bleAdvertiser.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>bluetooth-attendance-sys-e6be1</string>
	<key>STORAGE_BUCKET</key>
	<string>bluetooth-attendance-sys-e6be1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:100428051356:ios:6c3cc65c5260d38f084e59</string>
</dict>
</plist>